@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  margin-top: 100px;
}

.profile {
  width: 350px;
  height: 460px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 0px #000000;
  padding-top: 30px;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.tag {
  margin-bottom: 12px;
  color: #808080;
}

.location {
  color: #808080;
  font-weight: 500;
  margin-bottom: 94px;
}

.stats {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  border-radius: 0 0 8px 8px;
  border-top: 2px solid #80808050;
  background-color: #f3f6f9;
}

.label {
  color: #808080;
  display: block;
  padding: 10px;
}

.quantity {
  font-weight: 500;
}

/* 2nd Task  Statistics */

.statistics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0px #000000;
  padding-top: 50px;
  border-radius: 8px;
  overflow: hidden;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #808080;
}

.stat-list {
  display: flex;
  justify-content: center;
}

.item {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.item:nth-child(1) {
  background-color: lightblue;
}

.item:nth-child(2) {
  background-color: rgb(129, 19, 239);
}

.item:nth-child(3) {
  background-color: rgb(214, 100, 100);
}

.item:nth-child(4) {
  background-color: rgb(46, 245, 89);
}

.item:nth-child(5) {
  background-color: rgb(59, 62, 241);
}

.percentage {
  font-weight: 500;
}

/* 3rd */

.friend-list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.friend-item {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.status {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}

.status.online {
  background-color: green;
}
